@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
  margin-top: 1.5rem;
}

.flexRegister {
  display: flex;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexRegister-computer {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.post-card {
  height: 170px;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.logo{
  text-align: center; 
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: teal;
}

.logoMobile{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  color: teal;
}